body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('bbb.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #F5C518; 
}

.form-container {
    background-color: #3E2723;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 2em;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2 {
    color: #FFC107;
    margin-bottom: 1em;
}

label {
    display: block;
    margin: 0.5em 0 0.2em;
    font-size: 1em;
    color: #FFEB3B; 
    text-align: left;
}

input {
    width: 100%;
    padding: 0.8em;
    margin-bottom: 1em;
    border: 1px solid #FFC107;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
    background-color: #5D4037; 
    color: #FFEB3B;
}

input:focus {
    border-color: #FFC107;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 193, 7, 0.5);
}

.button {
    background-color: #212121; 
    color: #FFC107; 
    padding: 0.8em;
    width: 100%;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #FFEB3B; 
    color: #3E2723; 
}

.footer {
    margin-top: 1em;
}

.footer a {
    text-decoration: none;
    font-size: 0.9em;
    cursor: pointer;
    color: #FFC107;
}

.footer a:hover {
    text-decoration: underline;
}

